### Q1. Create a list of five integers and print it.

In [1]:
number = [0,5,4,3,2,1]

In [2]:
number

[0, 5, 4, 3, 2, 1]

### Q2. Write a program to find the length of a list.

In [3]:
print(len(number))

6

### Q3. Create a tuple with three elements and print the second item.

In [ ]:
t=(30,40,49)

In [7]:
t[1]

40

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [10]:
dict_3={"name":"mostafa","age":21,"male":"male"}
dict_3

{'name': 'mostafa', 'age': 21, 'male': 'male'}

### Q5. Write a program to convert a list into a set.

In [13]:
list_1=[90,60,80]
set_2=set(list_1)
set_2

{60, 80, 90}

### Q6. Create a string and print its first and last characters.

In [19]:
s ="mostafa"
f =s[0]
x = s[6]
print(f)
print (x)

m
a

### Q7. Take input from the user and print it.

In [12]:
x = int(input()) 
print (x)

9

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
a = int(input(" "))
b = int(input(" "))
sum_result = a + b
print("Sum:", sum_result)

Sum: 10

### Q9. Use `type()` function to check the data type of a variable.

In [32]:
S = "mostafa"
print(type(s))

<class 'str'>

### Q10. Create a boolean variable and print it.

In [33]:
flag = True
bool(flag)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [36]:
num = int(input())
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

### Q12. Write a program to check if a number is even or odd.

In [38]:
num = int(input())
if num % 2 ==0:
    print("even")
else:
    print("odd")

even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [40]:
for _ in range(3):
    print("mostafa")

mostafa
mostafa
mostafa

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [42]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [43]:
my_list = [1, 2, 3, 4, 5]
for num in my_list:
    print(num)

1
2
3
4
5

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [1]:
f = 0
for i in range(1, 101):
    f += i
f

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [44]:
for i in range(0, 21):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [48]:
for char in "mostafa":
    print(char)

m
o
s
t
a
f
a

### Q19. Use a `for` loop to print all values in a dictionary.

In [50]:
my_dict = {"name":"mostafa","age":21,"male":"male"}
for key, value in my_dict.items():
    print(key, value)

name mostafa
age 21
male male

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [51]:
num = int(input())
fact = 1
for i in range(1, num + 1):
    fact *= i
print("Factorial:", fact)

Factorial: 120

### Q21. Create a list of your 5 favorite fruits.

In [53]:
list_3 = ["mango","strawberry","watermellon","banana","grape"]
list_3

['mango', 'strawberry', 'watermellon', 'banana', 'grape']

### Q22. Add a new fruit to your list of favorite fruits.

In [54]:
list_3 = ["mango","strawberry","watermellon","banana","grape"]
list_3.append("peach")
list_3

['mango', 'strawberry', 'watermellon', 'banana', 'grape', 'peach']

### Q23. Remove the second item from a list.

In [55]:
list_3 = ["mango","strawberry","watermellon","banana","grape"]
list_3.remove("strawberry")
list_3

['mango', 'watermellon', 'banana', 'grape']

### Q24. Sort a list of numbers in descending order.

In [58]:
my_list = [1, 2, 3, 4, 5]
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [59]:
my_list = [1, 2, 3, 4, 5]
print(max(my_list))
print(min(my_list))

5
1

### Q26. Count how many times a value appears in a list.

In [60]:
my_list = [1, 2, 3, 3, 2]
count = my_list.count(3)
print(count)

2

### Q27. Check if a specific value exists in a list.

In [61]:
my_list = [1, 2, 3, 3, 2]
index = my_list.index(2)
print(index)

1

### Q28. Reverse a list without using reverse() function.

In [64]:
my_list = [1, 2, 3, 3, 2]
rev_list =my_list [::-1]
rev_list

[2, 3, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [65]:
copy_list = my_list.copy()
copy_list.append(100)
copy_list

[1, 2, 3, 3, 2, 100]

### Q30. Use slicing to get the first 3 items of a list.

In [71]:
my_list[:3]

[1, 2, 3]

### Q31. Create a tuple with 4 elements and print its length.

In [72]:
my_tuple = (10,20,50,40,30)
print(len(my_tuple))

5

### Q32. Access the last element of a tuple.

In [81]:
my_tuple[-1]

30

### Q33. Convert a tuple into a list.

In [80]:
list(my_tuple)

[10, 20, 50, 40, 30]

### Q34. Convert a list into a tuple.

In [82]:
tuple(my_list)

(1, 2, 3, 3, 2)

### Q35. Check if a value exists in a tuple.

In [100]:
V = int(input())
if V in my_tuple :
    print('true')
else:
    print('false')

true

In [84]:

20 in my_tuple

True

### Q36. Concatenate two tuples.

In [85]:
t2 = (5, 6)
my_tuple + t2

(10, 20, 50, 40, 30, 5, 6)

### Q37. Repeat a tuple 3 times.

In [102]:
my_tuple * 3

(10, 20, 50, 40, 30, 10, 20, 50, 40, 30, 10, 20, 50, 40, 30)

In [101]:
for i in range (4):
    r=my_tuple*i
print(r)

(10, 20, 50, 40, 30, 10, 20, 50, 40, 30, 10, 20, 50, 40, 30)

### Q38. Find the index of an element in a tuple.

In [99]:
my_tuple = (10,20,50,40,30)
my_tuple.index(20)

1

### Q39. Use tuple unpacking to assign values to variables.

In [112]:
names = ('ALI','MOstafa','mohamed')
num1 = names[0]
num2 = names[1]
num3 = names[2]
print(num1)
print(num2)
print(num3)

ALI
MOstafa
mohamed

### Q40. Create a nested list and access an inner element.

In [115]:
nested = [[1, 2], [3, 4]]
nested[1][0]

3

### Q41. Create a set of 5 unique colors.

In [104]:
my_set=('red','black','blue','babyblue','blue')
my_set

('red', 'black', 'blue', 'babyblue', 'blue')

### Q42. Add a new color to the set.

In [2]:
my_set={'red','black','blue','babyblue','blue'}
my_set.add("white")
print(my_set)

{'blue', 'babyblue', 'white', 'black', 'red'}

### Q43. Remove an item from the set using `remove()`.

In [3]:
my_set={'red','black','blue','babyblue','blue'}
my_set.remove('red')
print(my_set)

{'blue', 'black', 'babyblue'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [4]:
my_set={'red','black','blue','babyblue','blue'}
my_set.discard("red")
print(my_set)

my_set.discard("yellow")  # No error if the item is not found
print(my_set)

{'blue', 'black', 'babyblue'}
{'blue', 'black', 'babyblue'}

### Q45. Create a set from a list with duplicate values.

In [119]:
listttt = [10, 5,5,5,7,89]
settttt = set(listttt)
print(settttt)

{89, 10, 5, 7}

### Q46. Find the union of two sets.

In [121]:
a={4,5,6,7}
b={4,3,2,1}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

### Q47. Find the intersection of two sets.

In [122]:
a.intersection(b)

{4}

### Q48. Find the difference between two sets.

In [123]:
a.difference(b)

{5, 6, 7}

### Q49. Check if a set is a subset of another set.

In [124]:
a.issubset(b)

False

### Q50. Check if two sets are disjoint.

In [125]:
a.isdisjoint(b)

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [133]:
my_dict1 = {"name":"mostafa","age":21,"sex":"male"}
print(my_dict1)

{'name': 'mostafa', 'age': 21, 'sex': 'male'}

### Q52. Add a new key-value pair to the dictionary.

In [138]:
my_dict1 = {"name":"mostafa","age":21,"sex":"male"}
my_dict1.update({"country" :"egypt"})
print(my_dict1)

{'name': 'mostafa', 'age': 21, 'sex': 'male', 'country': 'egypt'}

### Q53. Update the value of an existing key in the dictionary.

In [137]:
my_dict1 = {"name":"mostafa","age":21,"sex":"male"}
my_dict1["age"] = 20 
print(my_dict1)

{'name': 'mostafa', 'age': 20, 'sex': 'male'}

### Q54. Remove a key from the dictionary using `pop()`.

In [141]:
my_dict1 = {"name":"mostafa","age":21,"sex":"male"}
my_dict1.pop("name")
print(my_dict1)

{'age': 21, 'sex': 'male'}

### Q55. Check if a key exists in the dictionary.

In [143]:

if 'age' in my_dict1 :
    print('true')
else:
    print('false')

true

### Q56. Loop through a dictionary and print all keys and values.

In [144]:
my_dict = {"name":"mostafa","age":21,"sex":"male"}
for key, value in my_dict.items():
    print(key, value)

name mostafa
age 21
sex male

### Q57. Get all keys from a dictionary using `keys()`.

In [148]:
list(my_dict.keys())

['name', 'age', 'sex']

### Q58. Get all values from a dictionary using `values()`.

In [150]:
list(my_dict.values())

['mostafa', 21, 'male']

### Q59. Get all key-value pairs using `items()`.

In [152]:
list(my_dict.items())

[('name', 'mostafa'), ('age', 21), ('sex', 'male')]

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [154]:
key = ['name','number','age']
value = ['mostafa',0,21]
dict_8 = dict(zip(key,value))
print(dict_8)

{'name': 'mostafa', 'number': 0, 'age': 21}